[Desktop Entry]
Encoding=UTF-8
Name=Link to Click for Options
Type=Link
URL=https://snt151.mail.live.com/att/GetAttachment.aspx?tnail=0&messageId=7c4ffada-f6b3-11e4-9ecf-00237de3f160&Aux=0%7c0%7c8D258D76576F910%7c%7c0%7c0%7c0%7c0%7c%7c%7c0%7chertz381%40gmail.com&cid=2faec305200b88d2&maxwidth=220&maxheight=160&size=Att&blob=MHxuaW5qYV9zdXNoaWwtMi5qcGd8aW1hZ2UvanBlZw_3d_3d
Icon=text-html
